# Dependencies
node_modules

# Build output
dist
.swc

# Environment variables
.env
.env.*
!.env.example

# IDE / Editor
.vscode
.idea
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Archive
*.zip
*.log
